.highlight  { background: #ffffff }
.highlight .c { color: #C3C3C3; font-style: normal } /* Comment */
.highlight .err { color: #FFCF6C } /* Error */
.highlight .k { font-weight: normal; color: #FFB928 } /* Keyword */
.highlight .o { font-weight: normal; color: #FFCF6C } /* Operator */
.highlight .cm { color: #C3C3C3; font-style: normal } /* Comment.Multiline */
.highlight .cp { color: #C3C3C3; font-weight: normal } /* Comment.Preproc */
.highlight .c1 { color: #878787; font-style: normal } /* Comment.Single */
.highlight .cs { color: #DDD6A4; font-weight: normal; font-style: italic } /* Comment.Special */
.highlight .gd { color: #9DDFE9; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #FFFFE9; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #FFFFE9; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #FFFFE9; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: normal; } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: normal; color: #9DDFE9 } /* Keyword.Constant */
.highlight .kd { font-weight: normal; color: #FFB928 } /* Keyword.Declaration */
.highlight .kn { font-weight: normal; color: #00A8C6 } /* Keyword.Namespace */
.highlight .kp { font-weight: normal } /* Keyword.Pseudo */
.highlight .kr { font-weight: normal } /* Keyword.Reserved */
.highlight .kt { color: #9DDFE9; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #9DDFE9; font-weight: bold } /* Literal.Number */
.highlight .s { color: #FCD78C } /* Literal.String */
.highlight .-Symbol { color: #FCD78C } /* Literal.Symbol */
.highlight .n { color: #FFFFE9 } /* Literal.String */
.highlight .na { color: #FFFFE9 } /* Name.Attribute */
.highlight .nb { color: #FFB928 } /* Name.Builtin */
.highlight .nc { color: #9DDFE9; font-weight: normal } /* Name.Class */
.highlight .nd { color: #FFB928; font-weight: normal } /* Name.Class */
.highlight .no { color: #FFB928 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #FFFFE9; font-weight: normal } /* Name.Exception */
.highlight .nf { color: #FFFFE9; font-weight: bold } /* Name.Function */
.highlight .nn { color: #00A8C6 } /* Name.Namespace */
.highlight .nt { color: #FFFFE9 } /* Name.Tag */
.highlight .nv { color: #9DDFE9 } /* Name.Variable */
.highlight .ow { font-weight: normal; color: #9DDFE9 } /* Operator.Word */
.highlight .w { color: #FFFFE9 } /* Text.Whitespace */
.highlight .mf { color: #00A8C6; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #00A8C6; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #00A8C6; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #00A8C6; font-weight: bold } /* Literal.Number.Oct */
.highlight .sb { color: #00A8C6 } /* Literal.String.Backtick */
.highlight .sc { color: #00A8C6 } /* Literal.String.Char */
.highlight .sd { color: #00A8C6 } /* Literal.String.Doc */
.highlight .s2 { color: #00A8C6 } /* Literal.String.Double */
.highlight .se { color: #FFCF6C } /* Literal.String.Escape */
.highlight .sh { color: #FFCF6C } /* Literal.String.Heredoc */
.highlight .si { color: #FFCF6C } /* Literal.String.Interpol */
.highlight .sx { color: #FFCF6C } /* Literal.String.Other */
.highlight .sr { color: #FFFFE9 } /* Literal.String.Regex */
.highlight .s1 { color: #FFCF6C } /* Literal.String.Single */
.highlight .ss { color: #FFFFE9 } /* Literal.String.Symbol */
.highlight .bp { color: #FFFFE9 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #FFFFE9 } /* Name.Variable.Class */
.highlight .vg { color: #FFFFE9 } /* Name.Variable.Global */
.highlight .vi { color: #FFFFE9 } /* Name.Variable.Instance */
.highlight .il { color: #9DDFE9 } /* Literal.Number.Integer.Long */

.type-csharp .highlight .k { color: #0000FF }
.type-csharp .highlight .kt { color: #0000FF }
.type-csharp .highlight .nf { color: #000000; font-weight: normal }
.type-csharp .highlight .nc { color: #2B91AF }
.type-csharp .highlight .nn { color: #000000 }
.type-csharp .highlight .s { color: #A31515 }
.type-csharp .highlight .sc { color: #A31515 }
